{% extends "menu.html" %}

{% block content %}

{% comment %} 
Essa página serve para mostrar os usuários que agendaram um horário, o nome ficou cadastrados sla por qual diacho de motivo, era pra ser "agendados" 
{% endcomment %}

<main class="container mt-3">
  <div class="container text-center">
    <div class="row">
       <h1>Agendados</h1>

          <div class="col">
              <h2>Nome</h2>
                {% for cadastro in cadastrados %}
                    <li>{{ cadastro.username }}</li>
                {% endfor %}
          </div>

          <div class="col">
              <h2>Data</h2>
                {% for cadastro in cadastrados %}
                     <li>{{ cadastro.data|date:"d/m/Y" }}</li>
                {% endfor %}
          </div>

          <div class="col">
              <h2>Horário</h2>
                {% for cadastro in cadastrados %}
                   <li>{{ cadastro.time|date:"H:i" }}</li>
                {% endfor %}
          </div>

          <div class="col">
              <h2>E-mail</h2>
                {% for cadastro in cadastrados %}
                   <li>{{ cadastro.email }}</li> 
                {% endfor %}
          </div>

          <div class="col">
              <h2>Contato</h2>
                  {% for cadastro in cadastrados %}
                    <li>{{ cadastro.contact }}</li>
                  {% endfor %}
          </div>
                
      </div>
    </div>   
</main>
{% endblock %}