{% extends "menu.html" %}

{% block content %}

<main class="container mt-5">
        <div class="col-md-5 offset-md-4">

            <form method="POST" class="card card-body needs-validation" novalidate>

                <h1 class="text-center">Agendamento</h1>
                
                    {{ error }}

                    {% csrf_token %}

                    <div class="input-group mb-3">

                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="inputGroupPrepend3" id="validationUsername" name="username" required>
                        <div id="validationUsernameFeedback" class="invalid-feedback">
                            Por favor, adicione um nome.
                        </div>

                    </div>
                    
                    <div class="mb-3">
                        <label for="appointmentDate" class="form-label">Data do Agendamento</label>
                        <input type="date" class="form-control" id="appointmentDate" name="data" required>
                        <div class="invalid-feedback">
                            Selecione um data disponível
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="appointmentTime" class="form-label">Horário do Agendamento</label>
                        <input type="time" class="form-control" id="appointmentTime" name="time" required>
                        <div class="invalid-feedback">
                            Selecione um horário disponível.
                        </div>
                    </div>             
        
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Endereço do Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@example.com" name="email" required>
                        <div class="invalid-feedback">
                            Por favor, selecione um email válido.
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Número de Contato</label>
                        <input type="tel" class="form-control" id="contactNumber" placeholder="(XX) XXXXX-XXXX" name="contact" required>
                        <div class="invalid-feedback">
                            Por favor, selecione um número válido.
                        </div>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Agendar">
                </form>
        </div>
</main>
{% endblock %}