{% extends "menu.html" %}

{% block content %}

    <main class="container mt-5">
        <div class="col-md-5 offset-md-4">

            <form method="POST" class="card card-body needs-validation" novalidate>
                {% comment %} Depois troco o título {% endcomment %}
                <h1 class="text-center">Coleta de dados</h1>
                
                    {{ error }}

                    {% csrf_token %}

                    <div class="input-group mb-3">

                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="inputGroupPrepend3" id="validationUsername" name="username" required>
                        <div id="validationUsernameFeedback" class="invalid-feedback">
                            Por favor, adicione um nome.
                        </div>

                    </div>             
        
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Endereço do Email</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@example.com" name="email" required>
                        <div class="invalid-feedback">
                            Por favor, selecione um email válido.
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label for="adress" class="form-label">Endereço</label>
                        <input class="form-control" type="text" placeholder="Rua. Teste, Bairro 01, número 02" aria-label="default input example" required>
                        <div class="invalid-feedback">
                            Por favor, escreva um endereço válido.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="adress" class="form-label"> Quais aromas você prefere?</label>
                        {% comment %} Tem IDs e FOR iguais, trocar os nomes senão vai dar erro no backend {% endcomment %}
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck1">Floral</label>
                            
                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck2">Citríco</label>
                            
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Amadeirado</label>

                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">Adocicado</label>

                                <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck5">Outro</label>
                            </div>
                    

                            <label for="adress" class="form-label"> Qual a intensidade do perfume que você prefere?</label>
                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck1">Fácil</label>
                            
                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck2">Moderado</label>
                            
                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Forte</label>
                            </div>
                    </div>

                    <div class="mb-3">
                        <label for="adress" class="form-label">Em que ocasiões você costuma usar perfume?</label>
                        <input class="form-control" type="text" placeholder="Trabalho, Eventos, Cotidiano..." aria-label="default input example" required>
                    </div>

                    <div class="mb-3">
                        <label for="adress" class="form-label">Em que ocasiões você costuma usar perfume?</label>
                        <input class="form-control" type="text" placeholder="Trabalho, Eventos, Cotidiano..." aria-label="default input example" required>
                    </div>

                    <div class="mb-3">
                        <label for="adress" class="form-label"> Com que frequência você compra perfumes?</label>

                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">                           

                            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">

                                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck1">Mensal</label>
                            
                                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck2">Bimestral</label>

                                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck3">Semestral</label>

                                <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                                <label class="btn btn-outline-primary" for="btncheck4">Anual</label>
                            </div>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">O que você mais gostou em perfumes anteriores que você comprou?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">O que você mudaria nos perfumes que já usou?</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <input class="btn btn-primary" type="submit" value="Enviar">
                </form>
        </div>
    </main>
{% endblock %}