{% extends 'menu.html' %}

{% load static %}

{% block content %}

<div class="wave2">
    <img src="{% static "img/out/loginEstilo2.png" %}" alt="loginEstilo2 background">
</div>

    <main class="container mt-1">
        <div class="col-md-5 offset-md-4">
            <div class="container text-center">
                <form method="POST" class="card card-body needs-validation formulario login">
                    <div class="form">
                        <title>Tela de Login</title>

                        {{ error }}

                        {% csrf_token %}

                        <h1 class="text-center">Login</h1>

                        <div class="mb-3">
                            <label for="username" class="form-label">Usuário</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Nome do usuário" required>
                        </div>

                        <div class="mb-3">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" name="password" class="form-control" id="password"  placeholder="Digite sua senha" required>
                        </div>

                        <input type="submit" class="btn btn-primary myButton btn btn-primary" value="Enviar"></input>
                    </div>
                </form>                               
            </div>
        </div>
    </main>

<div class="consertoWave">
    <div class="wave">
        <img src="{% static "img/out/loginEstilo.png" %}" alt="loginEstilo background">
    </div>
</div>

{% endblock %}