{% extends "menu.html" %}

{% load static %}

{% block content %}

<main class="container mt-3">
  <div class="container text-center form">
    <div class="row">

      <div class="configSinal">
        <h1 style="margin-right: 40%;">Agendados</h1>
        <div class="fundoSinal">
          <div class="sinais" onclick=mostra('conteudo')>
            <img src="{% static 'img/icon/mais_sinal.png' %}" class="sinal" id="sinalMais" alt="Mais informações">
          </div>
        </div>

        <div class="fundoSinal">
          <div class="sinais" onclick=esconde('conteudo')>
            <img src="{% static 'img/icon/menos_sinal.png' %}" class="sinal" id="sinalMenos" alt="Menos informações">
          </div>
        </div>
      </div>

        <div class="grid">
          <div class="gridAgendado">
            <div class="col">
              <h2>Nome</h2>
              <h2>Data</h2>
              <h2>Horário</h2>
              <h2>Procedimento</h2> 
              <h2 class="conteudo">E-mail</h2>
              <h2 class="conteudo">Contato</h2>
              
            </div>
          
          {% for cadastro in cadastrados %}
            <div class="col">
              <li>{{ cadastro.username }}</li>
              <li>{{ cadastro.data|date:"d/m/Y" }}
              <li>{{ cadastro.horario|date:"H:i" }}</li>
              <li>{{ cadastro.get_proced_display }}</li>
              <div class="conteudo">
                <li>{{ cadastro.email }}</li> 
              </div>
              <div class="conteudo">
                <li>{{ cadastro.contact }}</li>
              </div>

              <form action="{% url 'deletarAgendamento' cadastro.id %}" method="post">

                {% csrf_token %}
                {{ form.as_p }}

                <div class="conteudo">
                  <button type="submit" class="btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este agendamento?');">Deletar</button>
                </div>
              </form>

            </div>
          {% endfor %}   
        </div>        
      </div>      
    </div>
  </div>   
</main>

<div class="imgCadastrados">
  <img src="{% static 'img/out/Desktop.png' %}" id="desktop" alt="desktop background">
</div>

{% endblock %}