{% extends "menu.html" %}

{% load static %}

{% block content %}

    <main class="container mt-1">
        <div class="col-md-5 offset-md-4"> 
            <form id="formulario" method="POST" class="card card-body needs-validation formulario" novalidate>
                <div class="form">
                    <title>Agendamento</title>
                    
                    <h1 class="text-center">Agendamento</h1>
                    
                    {{ error }}

                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Nome</label>
                        <input type="text" class="form-control required" placeholder="Nome Completo" aria-label="Username"
                            aria-describedby="inputGroupPrepend3" id="validationUsername" name="username" oninput="nameValidate()" required>
                        <span class="span-required"></span>
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Endereço do Email</label>
                        <input type="email" class="form-control required" id="exampleFormControlInput1" placeholder="nome@exemplo.com" name="email" oninput="emailValidate()" required>
                        <span class="span-required"></span>
                    </div>
        
                    <div class="mb-3">
                        <label for="contactNumber" class="form-label">Número de Contato</label>
                        <input type="tel" class="form-control required" id="contactNumber" placeholder="(XX) XXXXX-XXXX" name="contact" oninput="contactValidate()" required>
                        <span class="span-required"></span>
                    </div>
                    
                    <div class="mb-3">
                        <label for="appointmentDate" class="form-label">Data</label>
                        <input type="date" class="form-control required" id="appointmentDate" name="data" placeholder="XX/XX/XXXX"  required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Procedimento</label>
                        <select class="form-control required" id="appointmentDate" name="proced" required>
                            <option selected>Selecione</option>
                            <option value="CH">Design de sobrancelhas COM henna</option>
                            <option value="SH">Design de sobrancelhas SEM henna</option>
                            <option value="MH">Micro henna</option>
                            <option value="LP">Limpeza de pele</option>
                            <option value="SL">SPA labial</option>
                            <option value="DE"> Depilação Buço e Axila</option>
                            <option value="LA">Laminação dos fios</option>
                            <option value="PE">Peeling facial superficial</option>            
                            <option value="ES">Estriderme</option>
                            <option value="NF">Nano fios</option>
                            <option value="RF">Revitalização facial</option>
                        </select>
                    </div>
                    
                    <div class="mb-3">
                        <label for="appointmentTime" class="form-label">Horário</label>
                        <input type="time" class="form-control required" id="appointmentTime" name="horario" placeholder="XX:XX" required>
                    </div>             

                    <input class="myButton btn btn-primary" type="submit" value="Agendar" onclick="confirmacao()">       
                </div>
            </form> 

            <div id="confirmacaoPrompt" class="confirmacaoPrompt" style="display: none;">
                <div id="loading" style="display: none;">
                    <p>Processando... Aguarde!</p>
                </div>
                
                <div id="responseMessage" style="display: none;">
                    <p id="messageText"></p>
                </div>
            </div>
        </div>
    </main>

<div class="conserto">
    <div class="camada">
        <img src="{% static "img/out/Group.png" %}" id="camadaIMG" alt="Group background">
    </div>
</div>

<img src="{% static 'img/logo/logo.png' %}" id="logo" alt="Logo background">
<img src="{% static 'img/logo/nome.png' %}" id="nomeBelaBerillo" alt="Nome da empresa">

{% endblock %}