{% extends "menu.html" %}

{% load static %}

{% block content %}


<main class="container mt-3">
    <div class="container text-center form">
      <div class="row">
        <div class="col">
            <h2>Data</h2>
        </div>

        <div class="col">
            <h2>Horário</h2>
        </div>

        <div class="col">
            <h2>Editar</h2>
        </div>
    </div>   
    <button class="myButton" type="submit" style="margin: 20px">Adicionar</button>
</main>

<div class="imgCadastrados">
<img src="{% static 'img/out/Desktop.png' %}" id="desktop" alt="desktop background">
</div>

{% endblock %}