{% extends "menu.html" %}

{% load static %}

{% block content %}

<main class="container mt-3">
    <div class="container text-center form">
      <div class="row">
        <div class="col">
            <h2>Data</h2>
        </div>

        <div class="col">
            <h2>Horário</h2>
        </div>

        <div class="col">
            <h2>Editar</h2>
        </div>
    </div>   

    <button class="myButton" type="submit"
    onclick="mostra()">Adicionar</button>

    <div class="conteudo">
        <form method="POST" class="card card-body needs-validation formulario" novalidate>
            {{ error }}

            {% csrf_token %}

            <div class="mb-3">
                <label for="appointmentDate" class="form-label">Data</label>
                <input type="date" class="form-control required" id="appointmentDate" name="data" placeholder="XX/XX/XXXX" required>
            </div>
            
            <div class="mb-3">
                <label for="appointmentTime" class="form-label">Horário</label>
                <input type="time" class="form-control required" name="horario" placeholder="XX:XX" >
            </div>  
            <button id="validarIndisponibilidade" class="myButton" type="submit" onclick="esconde()">Enviar</button>
        </form>           
    </div>
</main>

<div class="imgCadastrados">
<img src="{% static 'img/out/Desktop.png' %}" id="desktop" alt="desktop background">
</div>

{% endblock %}