/* As páginas dentro de auth */

/* A estilização da página de produto cadastrados */
.Produto {
    background-color: #163932;
}

/* Estilização dos botões de produtos cadastrados */
.selectButton {
    width: 200px;
    height: 430px;
    background: #284D5B;
    border-radius: 100px 100px 8px 8px;
}

.selectButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}

.selectGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.selectProduto {
    flex: 1 1 calc(22.22% - 10px); /* Cada botão ocupa 1/2 da largura, ajustando para o gap */
    height: 200px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .selectProduto {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .selectProduto {
        flex: 1 1 calc(100% - 10px);
    }
}

/* As divs redondas com as imagens */
.circle {
    background-color: #FEF4F4;
    border-radius: 50%;
    margin: 10px auto;
    position: relative;
    top: -100px;
    width: 11vw;
    height: 11vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgProduto {
    width: 40px;
    background-color: #FEF4F4;
    margin: 20px;
}

@media (max-width: 768px) {
    .circle {
        width: 20vw; 
        height: 20vw;
    }

    .imgProduto {
        width: 50%;
    }
}


/* A estilização da div que está as informações do produto */
.effectPrompt {
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 90%;
}

@media (min-width: 1024px) {
    .effectPrompt {
        margin: 130px auto;
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .effectPrompt {
        margin: 50px auto;
        width: 85%;
    }
}

@media (max-width: 767px) {
    .effectPrompt {
        margin: 20px auto;
        width: 95%;
    }
}

.enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 210px;
    border: none;
    -webkit-border-radius: 46px;
    border-radius: 46px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

/* Tela pedido perfume */

.formPerfume {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    background: rgba(102, 102, 102, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 20px;
}

#logoPerfume {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50vw;
    height: auto;
    max-width: 1066px;
    max-height: 732px;
    z-index: -1;
    object-fit: contain; 
    background-color: transparent;
    transform: translateX(50%);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: start; 
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.input-styled { 
    width: 100%;
    padding: 6px;
    box-sizing: border-box;
    margin: 5px auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: var(--bs-border-radius);
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
