/* Destinado para icons ou imagens que não sejam a logo ou façam parte do fundo */

.fundoSinal {
    height: 30px;
    width: 30px;
    background-color: #d1d7de;
    border: 1px solid #000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.sinais {
    width: 40px;
    height: 40px;    
    background-size: contain;
}

.sinal {
    width: 100%;
    height: auto;
}
