/* Foca nas estilizações das telas dentro da pasta main */

/* Estilização da página de login */
.wave {
    position: fixed;
    height: 70vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
    overflow: hidden; 
    z-index: -2;
}

.wave2 {
    position: fixed;
    height: 80vh;
    width: 45vw;
    right: 0;
    top: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: cover;
    overflow: hidden; 
    z-index: -2;
}

@media (max-width: 800px) {
    .wave {
        bottom: -30vw;
    }

    .wave2 {
        width: 75vw;
    }
 }

@media (max-width: 600px) {
    .wave2 {
        width: 100vw;
    }
}

.login {
    position: static;
    font-family: 'Inter';
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: left;
    color: #000000;
}

@media (max-width: 992px) {
    .navbar-collapse {
        display: flex !important;
        flex-direction: row !important;
        justify-content: flex-start;
    }

    .navbar-nav {
        flex-direction: row !important;
    }

    .navbar-nav .nav-item {
        padding: 0 10px;
    }
}

.container {
    overflow: hidden;
    max-width: 100%
}