/* Essa página foca estilização geral */

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

h1 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 20px;
    font-family: 'Inter';
}

/* Deixa o menu transparente e sem borda */
#nav-bar {
    background-color: transparent !important;
    border: none;
}

nav a {
    color: #d5dee6 !important;
}

/* Container pai para centralizar o formulário */
.formulario {
    display: flex; 
    align-items: center; 
    min-height: 20vh;   
    margin: 0; 
    padding: 0;
    border-color: transparent;
    background-color: transparent;
}

/* Cria o desfoque e a transparência do formulário */
.form {
    list-style-type: none;
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: auto;

    background: rgba(102, 102, 102, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding: 20px 40px 20px 40px;
    
    box-sizing: border-box;
    margin: 0 auto;
    opacity: 0.95; 
    z-index: 1;
}

/* Estilos para os inputs dentro da section */
input {
    position: relative; /* Evita conflitos com a section */
    width: 100px; 
    max-width: 1000px; 
    height: 38px;
    
    margin: 5px auto;
    background: #FAF3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 3px;
    box-sizing: border-box;
}
  
/* Estilização do botão */
.myButton {
    position: relative;
    width: 100%;
    max-width: 525px;
    height: 50px;
    
    margin: 20px auto;
    background: #057E4C;
    border: 1px solid #014026;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    text-align: center;
    font-size: 1.1rem; 
    color: #fff; 
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box; /* Garante que padding e borda não afetem a largura total */
}

/* Para telas menores */
@media (max-width: 250px) {
    button {
        width: 90%;
        height: 45px;
        font-size: 0.9rem;
    }
}
