body{
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

h1, h2 {
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/* Deixa o menu transparente e sem borda */
#nav-bar {
    background-color: transparent !important;
    border: none;
}

nav a {
    color: #d5dee6 !important;
}

/* Configuração da logo na tela de agendamento */
#logo {
    position: fixed;
    top: -60px;
    left: -70px;
    width: 32%;
    height: auto;
    background: url(/AgendaAutomatica/static/img/logo/logo.png); 
    background-size: contain;
    z-index: -1;   
}

/* Container pai para centralizar o formulário */
#formulario {
    display: flex; 
    align-items: center; 
    min-height: 100vh;   
    margin: 0; 
    padding: 0;
    border-color: transparent;
}

/* Cria o desfoque e a transparência do formulário */
#center {
    position: relative;
    width: 100%;
    max-width: 635px;
    height: auto;

    background: rgba(102, 102, 102, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    box-sizing: border-box;
    margin: 0 auto;
    opacity: 0.95; 
    z-index: 1;
}

/* Estilos para os inputs dentro da section */
input {
    position: relative;       /* Evita conflitos com a section */
    width: 80%; 
    max-width: 525px; 
    height: 38px;
    
    margin: 5px auto;
    background: #FAF3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 3px;
    box-sizing: border-box;
}
  
/* Estilização do botão */
.myButton {
    position: relative;
    width: 100%;
    max-width: 525px;
    height: 50px;
    
    margin: 20px auto;
    background: #057E4C;
    border: 1px solid #014026;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    text-align: center;
    font-size: 1.1rem; 
    color: #fff; 
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box; /* Garante que padding e borda não afetem a largura total */
}

/* Para telas menores */
@media (max-width: 768px) {
    button {
        width: 90%;
        height: 45px;
        font-size: 0.9rem;
    }
}

/* Camadas da tela de agendamento */
.camada {
    position: fixed;
    width: 50vw;
    height: auto;
    max-width: 100%;
    right: 0;
    bottom: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    object-fit: contain;
    overflow: hidden; 
    z-index: -2;
}

#camadaIMG {
    width: 50vw;
    height: auto; 
    max-width: 1066px;
    max-height: 732px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 0;
    margin-left: 0;
}
.conserto {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

/* Checkbox do pedido perfume */
.btn-check:checked + .btn {
    border-color: #600707; 
    background-color: #862727;
}

.btn {
    border-color: #02201c;
    color: #d5dee6;
}

/* Estilização dos botões de produtos cadastrados */
.selectButton {
	box-shadow:inset 5px 5px 10px 0px #88b8af;
	background:linear-gradient(to bottom, #00a583 5%, #00445b 100%);
	background-color:#bddbfa;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:32px 35px;
	text-decoration:none;
	text-shadow:0px 1px 0px #05192b;
    width: 100%;
	height: 100%;
	box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.selectButton:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}

.selectButton:active {
	position:relative;
	top:1px;
}

.selectGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.selectProduto {
    flex: 1 1 calc(22.22% - 10px); /* Cada botão ocupa 1/2 da largura, ajustando para o gap */
    height: 200px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .selectProduto {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .selectProduto {
        flex: 1 1 calc(100% - 10px);
    }
}

/* A estilização da div que está as informações do produto */
.effectPrompt {
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 90%; /* Usa 90% da largura da tela, adaptando-se automaticamente */
}

@media (min-width: 1024px) {
    .effectPrompt {
        margin: 130px auto;
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .effectPrompt {
        margin: 50px auto;
        width: 85%;
    }
}

@media (max-width: 767px) {
    .effectPrompt {
        margin: 20px auto;
        width: 95%;
    }
}

.enjoy-css {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 210px;
    border: none;
    -webkit-border-radius: 46px;
    border-radius: 46px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
  }