{% extends "menu.html" %}

{% load static %}

{% block content %}

    <main class="container mt-1">
        <div class="parent">
            <div class="col-md-5 offset-md-4">
                <form method="POST" class="card card-body needs-validation formulario" novalidate>
                    <div class="formPerfume">
                        <title> Pedido Perfume </title>
                
                        <h1 class="text-center">Pedido Perfume</h1>
                
                        {{ error }}
                        {% csrf_token %}

                        <div class="grid-container">
                
                            <div class="grid-item">
                                <div class="mb-3">
                                    <label for="preferred_scents" class="form-label">Selecione um aroma</label>
                                    <select class="form-select input-styled" id="preferred_scents" name="preferred_scents[]">
                                        <option value="Floral">Floral</option>
                                        <option value="Cítrico">Cítrico</option>
                                        <option value="Amadeirado">Amadeirado</option>
                                        <option value="Adocicado">Adocicado</option>
                                        <option value="Outro">Outro</option>
                                    </select>
                                </div>
                            
                                <div class="mb-3">
                                    <label for="preferred_intensity" class="form-label">Escolha a intensidade</label>
                                    <select class="form-select input-styled" id="preferred_intensity" name="preferred_intensity[]">
                                        <option value="Leve">Leve</option>
                                        <option value="Moderado">Moderado</option>
                                        <option value="Forte">Forte</option>
                                    </select>
                                </div>
                        
                                <div class="mb-3">
                                    <label for="appointmentNumber" class="form-label">Quantidade (ml)</label>
                                    <select class="form-select input-styled" id="appointmentNumber" name="number" required>
                                        <option value="15">15ml</option>
                                        <option value="20">20ml</option>
                                        <option value="30">30ml</option>
                                        <option value="40">40ml</option>
                                    </select>
                                </div>
                            </div>               
                            
                            <div class="grid-item">
                                <div class="mb-3">
                                    <label>Nome</label>
                                    <input type="text" class="form-control input-styled" placeholder="Nome completo" aria-label="Username" aria-describedby="inputGroupPrepend1" id="validationUsername" name="name" required>
                                    <div id="validationUsernameFeedback" class="invalid-feedback">
                                        Por favor, adicione um nome.
                                    </div>
                                </div>             
                            
                                <div class="mb-3">
                                    <label for="emailInput" class="form-label">Endereço do Email</label>
                                    <input type="email" class="form-control input-styled" id="emailInput" placeholder="nome@example.com" name="email" required>
                                    <div class="invalid-feedback">
                                        Por favor, selecione um email válido.
                                    </div>
                                </div>
                        
                                <div class="mb-3">
                                    <label for="contactNumber" class="form-label">Número de Contato</label>
                                    <input class="form-control input-styled" type="tel" id="contactNumber" placeholder="(xx) xxxx-xxxx" aria-label="Número de Contato" name="contact" required>
                                    <div class="invalid-feedback">
                                        Por favor, insira um número de contato válido.
                                    </div>
                                </div> 
                                <input class="btn btn-primary myButton" type="submit" value="Fazer Pedido">                    
                            </div>
                        </div>
                    </div>
                </form>                                         
            </div>
        </div>
    </main>

    <div class="">
        <img src="{% static 'img/logo/logo.png' %}" id="logoPerfume" alt="LogoP background">
    </div>
{% endblock %}
