{% extends "menu.html" %}

{% block content %}

<main class="container mt-4">

    <h1>Produtos</h1>

    <div class="selectGrid">
        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarProduto('perfume')">Perfume</button>
        </div>

        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarProduto('hidratante')">Hidratante</button>
        </div>
        
        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarProduto('peelins')">Peelins</button>
        </div>

        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarProduto('prodPele')">Produto para Pele</button>
         </div>
    </div>
    
    <h2>Aromas</h2>
    <div class="selectGrid">
        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarAroma('floral')">Floral</button>
        </div>

        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarAroma('citrico')">Cítrico</button>
        </div>
        
        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarAroma('adocicado')">Adocicado</button>
        </div>

        <div class="selectProduto">
            <button type="button" class="selectButton" onclick="selecionarAroma('amadeirado')">Amadeirado</button>
         </div>
    </div>

    <div class="effectPrompt">
        <div class="enjoy-css mb-3" id="resultados">
            Aqui vai aparecer os produtos
        </div>
    </div>

    <div class="effectPrompt">
        <div id="detalhes-produto" class="produto-detalhes enjoy-css mb-3">
            Aqui vai aparecer a descrição e ingredientes do produto
        </div>
    </div> 
    
    <div id="ajax-url" data-url="{% url 'filtrar_produtos' %}"></div>
</main>
{% endblock %}
