{% extends "menu.html" %}

{% block content %}

    <main class="container mt-4">

        <h1>Produtos</h1>

        <div class="selectGrid">
            
            <div class="selectProduto">
                <button type="button" class="selectButton">Perfume</button>
            </div>

            <div class="selectProduto">
                <button type="button" class="selectButton">Hidratante</button>
            </div>
            
            <div class="selectProduto">
                <button type="button" class="selectButton">Peelins</button>
            </div>

            <div class="selectProduto">
                <button type="button" class="selectButton">Produto para Pele</button>
             </div>
        </div>
        
        <h2> Aromas </h2>
        <div class="selectGrid">
            
            <div class="selectProduto">
                <button type="button" class="selectButton">Floral</button>
            </div>

            <div class="selectProduto">
                <button type="button" class="selectButton">Cítrico</button>
            </div>
            
            <div class="selectProduto">
                <button type="button" class="selectButton">Adocicado</button>
            </div>

            <div class="selectProduto">
                <button type="button" class="selectButton">Amadeirado</button>
             </div>
        </div>

        <div class="effectPrompt">
            <div class="enjoy-css mb-3">
                Teste
            </div>
        </div>
        
    </main>
{% endblock %}
