{% extends "menu.html" %}

{% load static %}

{% block content %}

    <div class="rectangle">
        <img src="{% static "img/out/Rectangle.png" %}" alt="Retângulo no menu">
    </div>

    <main>
        <div class="gridSaibaMais">
            <div class="saibaMaisFundo gridFilhoSM">
                <div class="gridSobreMim">
                    <div class="div1">
                        <h1 class="subtitulos">Juliana Xavier</h1>
                    </div>
                    <div class="div2">
                        <h1 class="subtitulos">Sobre Mim</h1>
                    </div>
                    <div class="div3">
                        <div class="fundoImagem">
                            <img src="{% static 'img/logo/logo.png' %}" ></img>
                        </div>
                    </div>
                    <div class="div4 contextoSobreMim">
                        <p class="subtitulos"> Tenho experiência a 11 anos na área das sobrancelhas e formada a 2 anos em Estética e cosmética. Desde muito nova já sentia que nasci para essa profissão aos 15 anos trabalhei como auxiliar de cabeleireira e aos 21 anos fiz meu primeiro curso em design de sobrancelhas. Isso me trouxe mais certeza que queria ir além, então iniciei o curso de graduação em Estética e cosmética. Hoje busco atuar na área de maneira reversa e integrativa.
                        </p>
                    </div>             
                </div>
            </div>        
            
            <div class="flex-container gridFilhoSB">
                <div class="perguntasFreq">
                    <h2 class="tituloSaibaMais">Perguntas Frequentes</h2>

                    <div class="subtitulos clicavel" onclick="mostraID('procedimento')">Quais os valores dos procedimentos?</div>
                    <p id="procedimento" class="conteudo infoSaibaMais">
                        Design de sobrancelhas COM henna, <strong>R$30,00</strong></br>
                        Design de sobrancelhas SEM henna, <strong>R$20,00</strong></br>
                        Depilação de axila, <strong>R$25,00</strong></br>
                        Estriderme OFF (a cada sessão), <strong>R$200</strong></br>
                        Henna Labial, <strong>R$25,00</strong></br>
                        Hidra glós lip <strong>R$250,00</strong></br>
                        Laminação de sobrancelhas, <strong>R$100,00</strong></br>
                        Limpeza de pele completa, <strong>R$200,00</strong></br>
                        Micro henna, <strong>R$350,00</strong></br>
                        Micropigmentação sobrancelhas/lábios, <strong>R$500,00</strong></br>
                        Nano fios, <strong>R$250,00</strong></br>
                        Reconstrução de sobrancelhas <strong>R$100,00</strong></br>
                        Revitalização facial, <strong>R$100,00</strong></br>                        
                        Spa Labial, <strong>R$250,00</strong></br> 
                    </p>
                    <div id="procedimentoMenos" class="conteudo subtitulos clicavel" onclick="escondeID('procedimento')">Ver menos</div>

                    <div class="linha"></div>

                    <div class="subtitulos clicavel" onclick="mostraID('pacotes')">Existe a opção de pacotes?</div>
                    <p id="pacotes" class="conteudo infoSaibaMais">
                        Sim, alguns procedimentos ao serem realizados juntos minimizam os gastos, abaixo segue as informações: </br>
                        <strong>1° Pacote</strong> </br>
                        Revilitação facial </br>
                        Design com henna </br>
                        Depilação do buço </br>
                        Valor: <strong>R$120,00</strong> </br></br>

                        <strong>2° Pacote</strong> </br>
                        Laminação dos fios </br>
                        Hidro glós </br>
                        Valor: <strong>R$200,00</strong> </br></br>

                        <strong>3° Pacote</strong> </br>
                        Micro henna </br>
                        Depilação do buço </br>
                        Revitalização facial </br>
                        Valor: <strong>R$400,00</strong> </br>
                    </p>
                    <div id="pacotesMenos" class="conteudo subtitulos clicavel" onclick="escondeID('pacotes')">Ver menos</div>

                    <div class="linha"></div>

                    <div class="subtitulos clicavel" onclick="mostraID('tempoProced')">Quanto tempo leva cada procedimento?</div>
                    <p id="tempoProced" class="conteudo infoSaibaMais">
                        Depilação, <strong>40 min</strong></br>
                        Design de sobrancelhas com Henna, <strong>40 min</strong></br>
                        Design de sobrancelhas sem Henna, <strong>20 min</strong></br>
                        Estriderme, <strong>2h</strong></br>
                        Henna Labial, <strong>40 min</strong></br>
                        Hidra glós, <strong>1:00 h</strong></br>
                        Laminação de sobrancelhas, <strong>40 min</strong></br>
                        Limpeza de pele, <strong>1:30 min</strong></br>
                        Micro henna, <strong>1:30 min</strong></br>
                        Micropigmentação, <strong></strong></br>
                        Nano fios, <strong>1:00 h</strong></br>
                        Peeling, <strong>1:00 h</strong></br>
                        Reconstrução de sobrancelhas, <strong>1:00 h</strong></br>
                        Revitalização facial, <strong>50 min</strong></br> 
                        Spa Labial, <strong>1:00 h</strong></br> 
                    </p>
                    <div id="tempoProcedMenos" class="conteudo subtitulos clicavel" onclick="escondeID('tempoProced')">Ver menos</div>

                    <div class="linha"></div>

                    <div class="subtitulos clicavel" onclick="mostraID('pagamento')">Existem quais formas de pagamento?</div>
                    <p id="pagamento" class="conteudo infoSaibaMais">
                        Cartão de débito ou crédito em até 3x sem juros apartir de <strong>R$300,00</strong> </br>
                        Pix ou dinheiro com 5% de desconto. Apartir de <strong>R$100,00</strong>
                    </p>
                    <div id="pagamentoMenos" class="conteudo subtitulos clicavel" onclick="escondeID('pagamento')">Ver menos</div>

                    <div class="linha"></div>

                    <div class="subtitulos clicavel" onclick="mostraID('taxa')">Em caso de não comparecer, existe alguma taxa?</div >
                    <p id="taxa" class="conteudo infoSaibaMais">
                        Existe uma taxa extra para retornos não realizados na data prevista, ou sem justificativas até 1:00 hora de antecedência. </br>
                        O valor pode variar de acordo com o procedimento estético. Acarretando no <strong>valor total de 50% do procedimento que seria realizado</strong>.
                    </p>
                    <div id="taxaMenos" class="conteudo subtitulos clicavel" onclick="escondeID('taxa')">Ver menos</div>
                </div>
        
                <div class="suporteClient">
                    <h2 class="tituloSaibaMais">Suporte ao Cliente</h2>
                
                    <div class="subtitulos clicavel" onclick="mostraID('contato')">Meios de contato</div>
                    <p id="contato" class="conteudo infoSaibaMais">
                        <img src={% static "img/icon/whatsapp.png" %} alt="Logo do whatsapp"> WhatsApp: <strong>(73) 98873-4003</strong> </br>
                        <img src={% static "img/icon/email.png" %} alt="Logo do email"> E-mail: <strong>ju.bela.berillo@outlook.com</strong>
                    </p>
                    <div id="contatoMenos" class="conteudo subtitulos clicavel" onclick="escondeID('contato')">Ver menos</div>
                
                    <div class="linha"></div>

                    <div class="subtitulos clicavel" onclick="mostraID('redes')">Redes Sociais</div>
                    <p id="redes" class="conteudo infoSaibaMais">
                        <img src={% static "img/icon/whatsapp.png" %} alt="Logo do whatsapp"> WhatsApp: <strong>(73) 98873-4003</strong> </br>
                        <img src={% static "img/icon/instagram.png" %} alt="Logo do instagram"> Instagram: <strong>BellaBerillo</strong>
                    </p>
                    <div id="redesMenos" class="conteudo subtitulos clicavel" onclick="escondeID('redes')">Ver menos</div>
                </div>
        
                <div class="creditos">
                    <h2 class="tituloSaibaMais">Créditos</h2>
                    <div class="subtitulos clicavel" onclick="mostraID('portfolio')">Portfólio</div>
                    <p id="portfolio" class="conteudo infoSaibaMais">
                        <img src={% static 'img' %}>
                        <a href="{% static 'img/pdf/portfolioJulianaXavier.pdf' %}" target="_blank" style="text-decoration: none; color: #212529;">Portfólio Juliana Xavier</a>
                    </p>
                    <div id="portfolioMenos" class="conteudo subtitulos clicavel" onclick="escondeID('portfolio')">Ver menos</div>

                    <div class="linha"></div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}